*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html,
select {

    padding: 0px;
    margin: 0px;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}



/* "header header header" */

.app-container {
    --selection-bg: rgba(136, 255, 0, 0.399);

    display: grid;
    grid-template-columns: 1fr 200px 70px;
    grid-template-rows: 54px 1fr 100px;

    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "control-bar control-bar control-bar"
        "schema elem-schema library"
        "schema error-list error-list";
    height: 100vh;
    width: 100vw;
}

.app-container.route-mode {
    /* Меняем сетку на 2 колонки и 2 строки */
    grid-template-columns: 1fr 270px;
    grid-template-rows: 54px 1fr;
    grid-template-areas:
        "control-bar control-bar"
        "schema error-list";
}

.app-container.route-mode .library,
.app-container.route-mode .elem-schema {
    display: none;
}

.schema {
    grid-area: schema;
    border: 1px solid black;
    margin: 0px 5px 5px 5px;
    /* background-color: pink; */
}

.error-list {
    font-size: 14px;
    grid-area: error-list;
  
    padding: 0px 0px 0px 5px;
    border: 1px dotted rgba(0, 0, 0, 0.328);
    margin: 0px 5px 5px 0px;
    scrollbar-gutter: stable;
    overflow-y: scroll;
}
.error-code-0
{
  color: #00003a;
}

.error-code-1
{
  color: #ff0000;
}


/* .schema-canvas {} */
/* .header {     grid-area: header;    background-color: rgba(195, 0, 255, 0.154);} */

.control-bar {
    /* background-color: rgba(255, 251, 0, 0.473); */
    grid-area: control-bar;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 4px;
    padding: 4px;
}

.control-button {
    border: 1px solid rgba(0, 0, 0, 0.39);

    border-radius: 5px;
    width: 100px;
    height: 100%;
    cursor: pointer;
    white-space: wrap;
    /* line-height: 12px; */
    /* text-align: center; */
    transition: all 200ms ease;
}

.control-button:hover {
    background-color: var(--selection-bg);
    border-radius: 15px;

}

.control-button img {
    margin: 5px;
}

.elem-schema {
    grid-area: elem-schema;

}

.library {
    grid-area: library;

}



.wr {
    /* white-space: wrap; */
    /* overflow-wrap: break-word; */
    white-space: pre-wrap;
}

.dbg-fixed {
    position: fixed;
    top: 70px;
    left: 50px;
    font-size: 16px;
    white-space: pre-wrap;
}